%pre
echo "network --hostname=`echo centos-$RANDOM$RANDOM`" > /tmp/pre-hostname
%end

#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=de-nodeadkeys --xlayouts='de (nodeadkeys)'
# System language
lang de_DE.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
#network  --hostname=localhost.localdomain
%include /tmp/pre-hostname

# Root password
rootpw --iscrypted $6$QXeQLUf6EQKHpvBq$6y9VYXNdHVke/wg9x5AhT7tE28aCHX3DnrRBdMMPia6.nsLEqPgM7EJvLnIrrrql0QECJPngwf4BM6dRT/kdL1
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Berlin --isUtc
user --groups=wheel --name=michael --password=$6$Je490QrtNm7urO2l$hfoM9Ykpaaz0k2/VhGtTWyMZszFDuP3ldx4aVVCivv11Q5ZnFI0gOHH8i08o9WEoTZIp/N4sEyIYKz.TbArHS/ --iscrypted --gecos="Michael Risthaus"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end

%post
yum -y update
%end
